<form action="#" method="post">
    <p>API KEY:</p>
    <p><input type="text" name="api" /></p>
    <p>Select Rover To Pull Images From:</p>
    <input type="checkbox" id="Curiosity" name="Checkbox" value="Curiosity">
    <label for="Curiosity">Curiosity</label><br>
    <input type="checkbox" id="Opportunity" name="Checkbox" value="Opportunity">
    <label for="Opportunity">Opportunity</label><br>
    <input type="checkbox" id="Perseverance" name="Checkbox" value="Perseverance">
    <label for="Perseverance"> Perseverance</label><br><br>
    <p><input type="submit" value="submit" /></p>
</form>